<html>
    <head>
        <script th:src="@{/webjars/vue/vue.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
        <script th:src="@{/webjars/jquery/jquery.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link media="all" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" href="/webjars/bootstrap/css/bootstrap.css"/>
        <link media="all" rel="stylesheet" th:href="@{/css/separators.css}" />
        <link media="all" rel="stylesheet" th:href="@{/css/style.css}" />
        <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ ''; </script>
    </head>
    <body>
        <div th:replace="common/navbar::navbarContainer  ('dataEngine')"></div>
        <div class="container page-content">
            <div class="page-title page-header">
                Create New Project
            </div>
            <div id="app">
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input v-model="form.projectName" class="form-control" id="projectName"/>
                </div>
                <div class="form-group">
                    <label for="projectName">Enter Target Deck</label>
                    <div class="row" v-for="targetDeckEntry in form.targetDeck">
                        <div class="col-xs-4 ">
                            <label>Project Name</label>
                            <input class="form-control" v-model="targetDeckEntry.selectorList" />
                        </div>
                        <div class="col-xs-4 ">
                            <label >Project Name</label>
                            <input class="form-control" v-model="targetDeckEntry.selectorType" />
                        </div>
                        <div class="col-xs-4 ">
                            <label >Project Name</label>
                            <input type="file" v-model="targetDeckEntry.uploadedSelectorFile" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-primary" @click="addTargetDeck">+ Add Selector List</button>
                    </div>
                </div>
            </div>
        </div>

        <!--/* Initialize vue and the data model here */-->
        <script type="text/javascript">
          var app = new Vue({
            el: '#app',
            data: {
              form : {
                  projectName: null,
                  targetDeck: [{
                        selectorList: null,
                        selectorType: null,
                        uploadedSelectorFile: null
                  }]
              }
            },

            methods: {
                addTargetDeck: function()
                {
                    this.form.targetDeck.push({
                        selectorList: null,
                        selectorType: null,
                        uploadedSelectorFile: null
                    });
                },
                removeTargetDeck: function(row)
                {
                    var index = this.form.targetDeck.indexOf(row);
                    this.targetDeck.splice(index, 1);
                }
            }
          });
        </script>
    </body>
</html>
