<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/common::include"></th:block>
    <script th:src="@{/js/projectHistory.js}"></script>
</head>

<body>
<div th:replace="common/navbar::navbarContainer ('home')"></div>
<div class="container page-content">
    <div class="page-header">
        <h1 style="text-align: center">
            Project History
        </h1>
    </div>
    <div>
        <div class="row">
            <th:block th:if="${submittedNetwork}">
                <div class="alert alert-success" role="alert">
                    Your Network Building project was successfully submitted. You can find information about it's progress,
                    as well as additional actions to perform, below.
                </div>
            </th:block>
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <th>Project Name</th>
                        <th>Start Date</th>
                        <th>State</th>
                        <th>Status Message</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr th:each="job : ${jobs}">
                            <td th:text="${job.name}"></td>
                            <td th:text="${job.startDate}"></td>
                            <td class="jobState" th:text="${job.state}"></td>
                            <td th:text="${job.status}"></td>
                            <td>
                                <th:block th:if="${job.state.name() == 'DONE'}">
                                    <a class="btn btn-link" >
                                        Perform Analysis
                                    </a>
                                </th:block>
                                <th:block th:if="${job.state.name() == 'ERROR'}">
                                    <a class="btn btn-link" >
                                        View Errors
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
