html,
body
{
    height: 100%;
}

.page-content
{
    min-height: 100%;
    padding-bottom: 30px;
}

.navbar-fixed-top + .page-content
{
    /* required when using a fixed-top navbar */
    padding-top: 65px;
}


.vertically-centered-container
{
    position: relative;
    width: 100%;
    top: 20%;
}

.btn-block + .btn-block {
    margin-top: 15px;
}


.page-header
{
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

.page-title
{
    font-size: 24;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

.thin-form-group
{
    margin-bottom: 0px;
}

.hidden
{
    display: none;
}

.sticky-top-alert {
    position: fixed;
    width: 350px;
    top: 75px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    box-shadow: 4px 4px 6px #888888;
    z-index: 105;
    text-align: center;
    padding-top:7px;
    padding-bottom:7px;
}

.form-container
{
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 0px;
}

.table
{
    margin-bottom: 5px;
}

.form-section > .form-section-header
{
    border-bottom: 1px solid silver;
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-bottom: 10px;
}

/* The last form-group in the section doesn't need spacing at the bottom */
.form-section-body > .form-group:last-child
{
    margin-bottom: 0px;
}

.formButtonContainer
{
    text-align: right;
}

.sub-label
{
    font-weight: normal
}

.checkbox
{
    margin-top: 0px;
}

.block
{
    display: block;
}

.nudge-right
{
    padding-left: 15px;
}

.middle-button-addon-container
{
    height: 100%;
}

.targetdeck-row
{
    padding-bottom: 7.5px;
}

.middle-btn-addon
{
    border-radius:0;
    border-left:0 none transparent;
    margin-right: -2px;
}

.form-feedback
{
    color: #a94442;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}