<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/common::include"></th:block>
    <script th:src="@{/js/form/bs_fileinput.js}"></script>

    <script type="text/x-template" id="subop-template">

    </script>
</head>

<body>
    <div th:replace="common/navbar::navbarContainer ('home')"></div>
    <div class="container page-content">
        <div class="page-header">
            <h1 style="text-align: center">
                Data Engine Test
            </h1>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="app">
                        <div id="listOperationsJson" class="hidden" th:text="${operations}"></div>
                        <form>
                            <!--/* First, the user has to select the operation type */-->
                            <div class="form-group">
                                <label class="control-label">Operation Type:</label>
                                <select class="form-control" @change="operationTypeChanged" v-model="operation.index">
                                    <option value="">Select an Operation Type</option>
                                    <option v-for="(op, index) in datamodel" v-bind:value="index" v-text="op.id"></option>
                                </select>
                            </div>

                            <!--/* Once the user select the operation type, display that type's parameters one by one */-->
                            <div v-if="operation != null && StringUtils.isNotBlank(operation.index)">
                                <div v-for="(param, index) in datamodel[operation.index].params" class="form-group">
                                    <label v-text="param.key+':'"></label>

                                    <!--/* If the parameter has more than 0 values, make it a select box */-->
                                    <div v-if="param.possibleValues.length > 0">
                                        <select class="form-control" v-model="operation[param.key]">
                                            <option v-for="value in param.possibleValues" v-bind:value="value" v-text="value"
                                                    v-bind:selected="value == param.defaultValue ? 'selected' : ''"></option>
                                        </select>
                                    </div>

                                    <!--/* Otherwise make it a regular input box */-->
                                    <div v-if="param.possibleValues.length < 1">
                                        <input class="form-control" v-model="operation[param.key]" :value="param.defaultValue" type="text">
                                    </div>
                                    <span v-text="param.description"></span>
                                </div>

                                <!--/*
                                    Finally, display the suboperations. A sub operation can have a sub operation, so it
                                    can get a little complicated
                                 */-->

                                <div class="form-group">
                                    <label>Sub Operations:</label>
                                    <select class="form-control" v-model="topLevelSubOpType">
                                        <option value="">Select a Sub-Operation Type</option>
                                        <option v-for="(op, index) in datamodel[operation.index].subOperations"
                                                v-bind:value="index" v-text="op.id"></option>
                                    </select>

                                    <button type="button" @click="addSubOperationTopLevel" class="btn btn-primary">+ Add Selected Sub Operation</button>
                                </div>

                                <div v-for="subOperation in getAllSubOperations()" :style="'margin-left: '+((subOperation.level+1) * 40)+'px;'">
                                    <div class="form-group">
                                        <label v-text="subOperation.key + ' parameters:'"></label>
                                        <div v-for="param in datamodel[operation.index].subOperations[subOperation.key].params">
                                            <label v-text="param.key"></label>
                                            <input class="form-control" v-model="subOperation[param.key]" type="text">
                                            <span v-text="param.description"></span>
                                        </div>
                                        <select class="form-control" v-model="subOperation.subOpLevelType">
                                            <option v-for="(op, index) in datamodel[operation.index].subOperations" v-bind:value="index" v-text="op.id"></option>
                                        </select>

                                        <button type="button" @click="addSubOperation(subOperation)" class="btn btn-primary">+ Add Selected Sub Operation</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr/>
                        <h3>Vue Data Model (for debugging purposes)</h3>
                        <pre>{{ $data.operation | json }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/admin/dataEngineTest.js}" type="text/javascript"></script>
</body>
</html>
