<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="alert (type, msgKey)">
    <div th:class="'alert alert-'+${type}" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <th:block th:if="${type.equals('success')}">
            <i class="fas fa-check"></i>
        </th:block>
        <th:block th:if="${type.equals('info')}">
            <i class="fas fa-info-circle"></i>
        </th:block>
        <th:block th:if="${type.equals('warning')}">
            <i class="fas fa-exclamation-triangle"></i>
        </th:block>
        <th:block th:if="${type.equals('danger')}">
            <i class="fas fa-exclamation-triangle"></i>
        </th:block>
        <span th:text="${#messages.msg(msgKey)}"></span>
    </div>
</th:block>
</body>
</html>

