<html>
<head>
    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link media="all" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" href="/webjars/bootstrap/css/bootstrap.css"/>
</head>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbarContainer (active)">

        <div class="container">
            <div class="navbar-header">
                <!-- Hamburger button that only appears if the screen is shrunk down enough -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:classappend="${active.equals('home')} ? 'active'">
                        <a class="navbar-brand" th:href="@{/home}">Agilion</a>
                    </li>
                    <li th:classappend="${active.equals('dataEngine')} ? 'active'">
                        <a th:href="@{/session/new}">Network Builder</a>
                    </li>
                    <li><a href="#">History</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Tools <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Metric Calculator</a></li>
                            <li><a href="#">Python Snippet Uploader</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Support <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">User Management</a></li>
                            <li><a href="#">Instance Management</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="#">
                            <i style="color: white" class="fa fa-user-circle-o"></i>
                             Alex Campbell
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</body>
</html>
